/*
* Main styles
*/

body {
    padding: 20px;
}

body * {
    margin: 0;
    padding: 0;
}

#tree {
    width: 360px;
}

#pricelist {
    display: flex;
}

#products {
    width: 100%;
    font-size: 125%;
    padding-left: 20px;
    box-sizing: content-box;
}

#products-list, #products-list td, #products-list th {
    border: 1px solid #CBCBCB;
}

#products-list td, #products-list th {
    padding: 5px;
}

#products-list {
    width: 100%;
    border-spacing: 0;
}

#products-list td, #products-list th {
    border-left: none;
    border-top: none;
    text-align: center;
}

#products-list td:last-child, #products-list th:last-child {
    border-right: none;
}

#products-list tr:last-child td {
    border-bottom: none;
}

#products-list th {
    background-color: #EDEDEE;
}

h1 {
    padding: 10px;
    padding-left: 0;
    font-size: 150%;
}